@import "tailwindcss";

:root {
  --spacing: 0.25rem;
}

body {
  border-top: 0.75rem solid #fe0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.mb-20 {
  margin-bottom: calc(var(--spacing) * 10);
}

.-mt-1 {
  margin-top: calc(var(--spacing) * -2);
}

h1.glossary-title {
  line-height: 1.25;
}
